<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Resume Builder{% endblock %}</title>
</head>
<body>
    <header>
        <p>Navigation</p>
        <ul>
            <li>TODO: Update resume</li>
            <li>TODO: Download PDF</li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            </li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>    
</body>
</html>


