<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resume_builder/css/resume_builder.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}Resume Builder{% endblock %}</title>
</head>
<body>
    <header>
        <div id="topnav" class="d-flex flex-row align-items-center p-3">
            <div class="col-sm-2 align-content-center">
                <h4>Resume Builder</h4>
            </div>
            <div class="col-sm-8 align-content-center">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-2"><a class="btn btn-link" role="button" href="{% url 'resume_builder:index' %}">Dashboard</a></div>
                    <div class="p-2"><a class="btn btn-link" role="button" href="{% url 'resume_builder:update_resume' %}">Editor</a></div>
                    <div class="p-2"><a class="btn btn-link" role="button" href="{% url 'resume_builder:download' %}">Download Resume</a></div>
                </div>                
            </div>
            <div class="col-sm-2 align-content-center">
                <div class="d-flex justify-content-end">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Log Out</button>
                    </form>
                </div>
            </div>
        </div>        
    </header>
    <main class="p-3">
        {% block content %}
        {% endblock %}
    </main>       
</body>
</html>


