{% extends "resume_builder/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Editor</h1>
<form class="d-flex flex-column p-3" action="" method = "post">
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.non_form_errors }}

    {% if messages %}
        <ul class="list-unstyled">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}            
        </ul>
    {% endif %}

    {% for field in form %}
        {{ field.errors }}        
        <span class="p-3">
            {{ field.label_tag }} {{ field }}
        </span>
    {% endfor %}
    
    <div class="d-grid gap-2 d-md-block justify-content-center">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>

{% if timeline %}    
    <h4 class="pt-5">My companies</h4>    
{% for event in timeline %}
    {{ event.company }}
    <div class="d-flex flex-row align-items-center">        
        <!-- <div class="col-sm-8 justify-conent-start">
            <span>{{ event.org_name }}</span>:  <span>{{ event.role_name }}</span>
        </div> -->
        <!-- <div class="col-sm-4 justify-conent-end">
            <span>{{ event.start_date | date:"F Y" }} 
                {% if event.end_date %}
                     - {{ event.end_date | date:"F Y" }}
                {% else %}
                    - <span>present</span>
                {% endif %}
            </span>
        </div>                -->
    </div>
    <ul class="">
        <li>            
            <span>{{ event.org_name }}</span> <span class="fst-italic">({{ event.role_name }})</span>
        </li>
    </ul>        
{% endfor %}
{% else %}
    <p>Create your timeline by visting the Editor.</p>
{% endif %}

{% endblock %}