{% extends "resume_builder/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Editor</h1>
<form class="d-flex flex-column p-3" action="" method = "post">
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.non_form_errors }}

    {% if messages %}
        <ul class="list-unstyled">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}            
        </ul>
    {% endif %}

    {% for field in form %}
        {{ field.errors }}        
        <span class="p-3">
            {{ field.label_tag }} {{ field }}
        </span>
    {% endfor %}
    
    <div class="d-grid gap-2 d-md-block justify-content-center">
        <input class="btn btn-primary" type="submit" value="Add new role">
    </div>
</form>



{% if timeline %}    
    <h4 class="pt-5">My companies</h4>    
{% for event in timeline %}
    {{ event.company }}    
    <ul class="">
        <li>            
            <span>{{ event.org_name }}</span> <span class="fst-italic">({{ event.role_name }})</span>
            <a href="/resume/editor/company/{{ event.id }}" class="pencil ms-2"><span class="pencil">&#9998;</span></a>
            <a href="{% url 'resume_builder:delete_company' event.id %}" class="pencil ms-2"><span class="pencil">&#10005;</span></a>
        </li>
    </ul>        
{% endfor %}
{% else %}
    <p>Create your timeline by visting the Editor.</p>
{% endif %}

{% endblock %}