{% extends "resume_builder/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="pb-5">Resume Preview</h1>

{% if object_list %}
    <div class="d-flex flex-row align-items-center pb-5">
        <h2>{{ user.get_full_name }}</h2>
    </div>
    <div class="d-flex flex-row align-items-center pb-3">
        <h4>Experience</h4>
    </div>
{% for event in object_list %}
    <div class="d-flex flex-row align-items-center">        
        <div class="col-sm-8 justify-conent-start">
            <span class="fw-bold">{{ event.role }}</span> / <span>{{ event.company }}</span>
        </div>
        <div class="col-sm-4 justify-conent-end">
            <span>{{ event.start_date }} 
                {% if event.end_date %}
                     - {{ event.end_date }}
                {% else %}
                    - <span>present</span>
                {% endif %}
            </span>
        </div>               
    </div>
    <ul class="no-bullets">
        <li class="pb-4">            
            {% if event.content %}
            <ul class="detail-bullets">
            {% for detail in event.content %}
                <li>
                    {{ detail }}
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </li>
    </ul>        
{% endfor %}
{% else %}
    <p>Create your timeline by visting the Editor.</p>
{% endif %}

{% endblock %}