{% extends "base.html" %}
{% load static %}

{% block title %}Resume Builder{% endblock %}

{% block content %}


<div class="container-sm">
  <div class="row">
    
  </div>  
  <div class="row">
    <div class="col-sm-6 align-content-center text-center">
      <h1>Resume Builder</h1>
      <br>
      <p >Build your resume from a data-driven timeline of your professional experience in this proof-of-concept app. </p>          
      <!-- <a class="btn btn-primary" role="button" href="{% url 'login' %}" >Log in</a>
      <h2>Inline Log In</h2> -->
        <form class="mt-5" method="post" action="accounts/login/">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Log In</button>
        </form>
      <a class="btn btn-link mt-5" role="button" href="{% url 'signup' %}">Sign up</a>      
    </div>
    <div class="col-sm-6">
      <img class="img-fluid" src="{% static 'images/resume_builder_poc_landing_page_hero_crop.jpg' %}">
    </div>
  </div>
</div>

{% endblock %}
